.menu {
    width: 100%;
    height: 100vh;
}


.menu .containerImg {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 740px) {
    .menu .containerImg {
        grid-template-columns: 1fr;
    }
}


